/* The header only */

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    margin: 0;
    border-bottom: 1px solid #000;
    padding: 0.5em 0;
    background-color: #777;
    color: #eee;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


/* Elements styling */


/* ellipsing element */

.ellipsed {
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    box-shadow: -3px -3px 3px 1px #777;
}


/* indented */

.indented {
    position: relative;
    top: -5px;
    left: 60px;
    width: 42rem;
    height: 400px;
    text-indent: 30px;
    border: 1px solid #ccc;
    box-shadow: -3px -3px 3px 1px #777;
    line-height: 2;
    text-align: justify;
    word-spacing: -2px;
}


/* bolded */

.bolded {
    font-weight: 800;
}


/* underlined */

.underlined {
    text-decoration: underline;
    text-decoration-style: wavy;
}


/* stylized */

.stylized {
    resize: both;
    position: relative;
    top: -195px;
    left: 160px;
    border: 3px solid #000;
    width: 70%;
    background-color: #0000ff;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}


/* display prev */

.codedisplay {
    position: relative;
    top: -190px;
    left: 10px;
    font-family: monospace;
    background-color: #000;
    text-align: left;
    color: #fff;
    width: 45%;
    font-size: 12px;
}


/* comment */

.commented {
    padding: 5px;
    color: #666;
}


/* nopre */

.nopre {
    position: relative;
    top: -10px;
    left: -80px;
    white-space: pre;
    text-align: left;
    color: #fff;
}